<!-- Menu -->
<div class="menu_container menu_mm">
    <!-- Menu Close Button -->
    <div class="menu_close_container">
        <div class="menu_close"></div>
    </div>
    <!-- Menu Items -->
    <div class="menu_inner menu_mm">
        <div class="menu menu_mm">
            <ul class="menu_list menu_mm">
                <li class="menu_item menu_mm"><a href="#">Home</a></li>
                <li class="menu_item menu_mm"><a href="#">About us</a></li>
                <li class="menu_item menu_mm"><a href="courses.html">Courses</a></li>
                <li class="menu_item menu_mm"><a href="elements.html">Elements</a></li>
                <li class="menu_item menu_mm"><a href="news.html">News</a></li>
                <li class="menu_item menu_mm"><a href="contact.html">Contact</a></li>
            </ul>
            <!-- Menu Social -->
            <div class="menu_social_container menu_mm">
                <ul class="menu_social menu_mm">
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="menu_copyright menu_mm">Colorlib All rights reserved</div>
        </div>
    </div>
</div>
<!-- Home -->
<div class="home">
    <!-- Hero Slider -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="assets/images/course_2.jpg" class="d-block w-100" alt="" style="height: 680px;" >
          </div>
          <div class="carousel-item">
            <img src="assets/images/course_3.jpg" class="d-block w-100" alt="..." style="height: 680px;">
          </div>
          <div class="carousel-item">
            <img src="assets/images/course_1.jpg" class="d-block w-100" alt="..." style="height: 680px;">
          </div>
        </div>
      </div>
</div>
<div class="hero_boxes">
    <div class="hero_boxes_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 hero_box_col">
                    <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                        <img src="assets/images/earth-globe.svg" class="svg" alt="">
                        <div class="hero_box_content">
                            <h2 class="hero_box_title">Cursos Online</h2>
                            <a href="courses.html" class="hero_box_link">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 hero_box_col">
                    <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                        <img src="assets/images/books.svg" class="svg" alt="">
                        <div class="hero_box_content">
                            <h2 class="hero_box_title">Biblioteca</h2>
                            <a href="courses.html" class="hero_box_link">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 hero_box_col">
                    <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                        <img src="assets/images/professor.svg" class="svg" alt="">
                        <div class="hero_box_content">
                            <h2 class="hero_box_title">Docentes</h2>
                            <a href="teachers.html" class="hero_box_link">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Popular -->
<div class="popular page_section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1 style="color: black;">Cursos Populares</h1>
                </div>
            </div>
        </div>
        <div class="row course_boxes">
            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_1.jpg" alt="https://unsplash.com/@kellybrito">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html" style="color: black;">Modulo 1</a></div>
                        <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis et alias perspiciatis facilis consectetur, deserunt id impedit, iure laudantium eos nulla quam! Quidem repellendus earum optio expedita itaque assumenda in.</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Docente</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$0</span></div>
                    </div>
                </div>
            </div>
            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_2.jpg" alt="https://unsplash.com/@cikstefan">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html" style="color: black;">Modulo 2</a></div>
                        <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis et alias perspiciatis facilis consectetur, deserunt id impedit, iure laudantium eos nulla quam! Quidem repellendus earum optio expedita itaque assumenda in.</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Docente</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$0</span></div>
                    </div>
                </div>
            </div>
            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_3.jpg" alt="https://unsplash.com/@dsmacinnes">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html" style="color: black;">Modulo 3</a></div>
                        <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis et alias perspiciatis facilis consectetur, deserunt id impedit, iure laudantium eos nulla quam! Quidem repellendus earum optio expedita itaque assumenda in.</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Docente</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$0</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>		
</div>
<!-- Services -->
<div class="services page_section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1 style="color: black;">Nuestros Servicios</h1>
                </div>
            </div>
        </div>
        <div class="row services_row">
            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="assets/images/earth-globe.svg" alt="">
                </div>
                <h3>Cursos online</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis et alias perspiciatis facilis consectetur, deserunt id impedit, iure laudantium eos nulla quam! Quidem repellendus earum optio expedita itaque assumenda in.</p>
            </div>
            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="assets/images/exam.svg" alt="">
                </div>
                <h3>Cursos de interior</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis et alias perspiciatis facilis consectetur, deserunt id impedit, iure laudantium eos nulla quam! Quidem repellendus earum optio expedita itaque assumenda in.</p>
            </div>
            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="assets/images/books.svg" alt="">
                </div>
                <h3>Biblioteca</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis et alias perspiciatis facilis consectetur, deserunt id impedit, iure laudantium eos nulla quam! Quidem repellendus earum optio expedita itaque assumenda in.</p>
            </div>
            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="assets/images/professor.svg" alt="">
                </div>
                <h3>Docentes</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis et alias perspiciatis facilis consectetur, deserunt id impedit, iure laudantium eos nulla quam! Quidem repellendus earum optio expedita itaque assumenda in.</p>
            </div>
            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="assets/images/blackboard.svg" alt="">
                </div>
                <h3>Programas Principales</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis et alias perspiciatis facilis consectetur, deserunt id impedit, iure laudantium eos nulla quam! Quidem repellendus earum optio expedita itaque assumenda in.</p>
            </div>
            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="assets/images/mortarboard.svg" alt="">
                </div>
                <h3>Certificado</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis et alias perspiciatis facilis consectetur, deserunt id impedit, iure laudantium eos nulla quam! Quidem repellendus earum optio expedita itaque assumenda in.</p>
            </div>
        </div>
    </div>
</div>
